$body-bg:orange;
$main-font:'Roboto Condensed', 'sans-serif';
$primary-color:black;
$secondary-color:red;
$light-color:yellow;
$dark-color:black;
$container:960px;
// Functions
@function set-text-color($bg-color){
    @if(lightness($bg-color)>50){
        @return black;
    }
            @else{
                @return white;
            }
        }
    



*{
    margin:0;
    padding:0;
}

body{
    background-color:$body-bg;
    font-family:$main-font;
    text-align:center;
}
a{
    text-decoration:none;
    color:purple;
}

.container{
    max-width:$container;
    margin:auto;
    padding:0 20px;
    background-color: $light-color;

}
header#main-header{
    padding:1em;
    background:$primary-color;
    color:set-text-color($primary-color);

    h1{
        font-size: 40px;
    }
}
